body {
	margin: 20px;
	background-color: black;
	color: white;
	font-family: Dancing Script;
}


figure img{
  margin: auto;
  width: 80%;
  background-color: #82c3a6;
  justify-content: center;
  display: block;
}
.caja1{
  background-color: #82c3a6;
  width:100%;
  margin: 0 auto;
  border: 2px solid #82c3a6;
  justify-content: center;
  flex-wrap: wrap;
}
